

// font-family: 'Aleo', serif;
// font-family: 'Josefin Sans', sans-serif;

html {
    font-size: 16px; /* Set the root font size */
  }
  
  body {
    font-size: 1rem; /* This will be equal to 16px */
    color: white;
    font-family: 'Josefin Sans', sans-serif;
  }
  
.First_section{
    background-image: url("/Images/Landscape_blue.png");
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 54.167% */
    letter-spacing: 4.8px;
    text-transform: uppercase;
    font-size: 2vh;
    background-size: cover;
}
.text_under-title{
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 118.182% */
    letter-spacing: 6.82px;
    margin-top: -15px;
    font-size: 16px;
}

  .topnav input[type=text] {
    width: auto;
    text-decoration: none;
    text-align: center;
    border: none;
    width: 45rem;
  }
  .search-container{
    display: flex;
  }
  
  .topnav .search-container button {
    background-color: #5474FD;
    border: 1px solid white;
    color: white;
    border-color: white;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 .search_text{
    color: #FFF;
text-align: center;
font-family: Aleo;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 185.714% */
letter-spacing: 1.4px;
text-transform: uppercase;
margin-right: 10px;
margin-left: 10px;
 }
  .topnav{
    margin-top: 20px;
  }
  .topnav .search-container button:hover {
    background: darkblue;
  }  

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5474FD;
}
.nav_hyperlinks a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-family: 'Aleo', serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    text-transform: uppercase;
}
.nav_hyperlinks a:hover{
    color: darkblue;
}
.section_1{
display: flex;
background-image: url(/Images/Background_castle.png);
height: 87vh;
justify-content: center;
align-items: center;
background-size: cover;
}
h2{
    font-family: 'Aleo', serif;
}
.left_side_txt > p{
    text-align:left;
    width: 70%;
    font-weight: 400;
    line-height: 26px;
}
.section_1_button{
    background-color: #5474FD;
    border: none;
    color: white;
    height: 3rem;
    width: 12rem;
    text-decoration: none;
    margin-top: 20px;
}

.img_container1{
    transform: translateX(-25%);
    margin-bottom: 10px;
}

.block{
    width: 25%;
}
.section_2{
    height: 30vh;
    background-color:#333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(/Images/line.svg);
    background-repeat: no-repeat;
    background-position: 49.3% 18%;
    background-size: 48%;
}

.section_2 p{
    width: 100%;
}
.section_2 div, i{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
    font-family: 'Aleo', serif;
    font-weight: 400;
}

.section_3{
    background-image: url(/Images/Modern_House.png);
    height: 86vh;
    margin-top: -1.5%;
    position: relative;
    background-size: cover;
}
.black-box_content{
    background-color: #333;
    width: 35%;
    height: 50%;
    opacity: 0.9;
    position: absolute;
    bottom: 10%;
    left: 20%;
}

.black-box_content h4, h3, p, h2{
    width: 85%;
}
.black-box_content h4, h3, button, p, h2{
    position: relative;
    left: 8%;
    font-family: 'Josefin Sans', sans-serif;
}
.black-box_content2 h4, h3, button, p, h2{
    position: relative;
    left: 8%;
    font-family: 'Josefin Sans', sans-serif;
}
.button_blackbox{
    background-color: #5474FD;
    height: 15%;
    width: 40%;
    color: white;
    margin-top: 5%;
    text-decoration: none;
    border: none;
}

.section_4{
    background-image: url(/Images/Cliffs_Sea.png);
    height: 86vh;
    position: relative;
    background-size: cover;
}
.black-box_content2{
    background-color: #333;
    width: 35%;
    height: 50%;
    opacity: 0.9;
    position: absolute;
    bottom: 10%;
    right: 20%;
}
.section_5{
    background-image: url(/Images/Background_person.png);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.last_box{
    display: flex;
    width: 80%;
    background-color: #333;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    
}
.First_section p{
    position: inherit;
    left: auto;
}
.search-container button{
    position: inherit;
}
